<div class="outer">
    <img src="../../assets/Screenshot.png" width="320px" alt="">
    <div class="inner p-d-flex p-flex-column p-jc-start p-ai-center">
        <h3>Login or Signup</h3>
        <input type="tel" pInputText class="inputSize" [(ngModel)] ="username" placeholder="Mobile Number">
        <br>
        <input type="password" [(ngModel)] ="pass" pInputText class="inputSize" placeholder="Password">
        <br>
        <button pButton (click)="login()">LOGIN</button>
    </div>
</div>

<!-- 98427 31310 - vardhini -->