<div class="outer">
    <img src="../../assets/Screenshot.png" width="320px" alt="">
    <form action="">
        <div class="inner p-d-flex p-flex-column p-jc-start p-ai-center">
            <h3>Signup</h3>
            <input type="number" pInputText class="inputSize" [(ngModel)] ="username" autofocus placeholder="Mobile Number">
            <br>
            <input type="password" [(ngModel)] ="pass" pInputText class="inputSize" placeholder="Password">
            <br>
            <input type="password" [(ngModel)] ="confPass" pInputText class="inputSize" placeholder="Confirm Password">
            <br>
            <button pButton (click)="signup()">Signup</button>
            <br>
        </div>
    </form>
</div>