<div class="p-grid navBar p-shadow-1">
    <div class="p-col-1 p-d-flex p-jc-around p-ai-center"><a href="#"><img src="../../assets/logo.PNG" height="36" width="53" alt="logo"></a></div>
    <div class="p-col-4 p-d-flex p-jc-around p-ai-center wrapper">
        <div class="dropBtn">
            <a class="hover" href="">MENS</a>
            <div class="dropdown">
                <a href="" style="color: pink;">Top Wear</a>
                <a href="">Shirt</a>
                <a href="">T-Shirt</a>
            </div>
        </div>
        <div class="dropBtn">
            <a class="hover" href="">WOMEN</a>
            <div class="dropdown">
                <a href="" style="color: pink;">Top Wear</a>
                <a href="">Shirt</a>
                <a href="">T-Shirt</a>
            </div>
        </div>
        <div><a class="hover" href="">KIDS</a></div>
        <div><a class="hover" href="">HOME & LIVING</a></div>
        <div><a class="hover" href="">BEAUTY</a></div>
        <div></div>
    </div>
    <div class="p-col-5 p-d-flex p-jc-between p-ai-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText class="inputSize" placeholder="search for products,brands and more">         
        </span>
    </div>
    <div class="p-col-2 p-d-flex p-jc-around p-ai-center">
        <div class="dropTrigger">
            <a class="dropHover">PROFILE</a>
            <div class="dropMenu">
                <p>Welcome</p>
                <h5>Login To access account and manage orders</h5>
                <button pButton class="p-button-outlined" (click)="routeToLogin()">LOGIN/SIGNUP</button>
            </div>
        </div>
        <i class="pi pi-heart p-mr-2">
            <div style="margin-left: -20px;">WishList</div>
        </i>
        <i class="pi pi-calendar p-mr-2">
            <div style="margin-left: -6px;">Cart</div>
        </i>
    </div>
</div>